body,td,th {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
	text-align: center;
	color: #888888;
}

a:link {
	color: #888888;
	font-size: 10pt;
}
a:visited {
	color: #888888;
}
a:hover {
	color: #888888;
}
a:active {
	color: #888888;
}
.copyright {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
	text-align: center;
	color: #DDD;
}

a.copyright:link {
	color: #DDD;
	font-size: 10pt;
}
a.copyright:visited {
	color: #DDD;
}
a.copyright:hover {
	color: #DDD;
}
a.copyright:active {
	color: #DDD;
}
